<ion-view><ion-content><style>


.msg{

margin-top:5%;
margin-left:10%;

}
 
.loc{
margin-left:40%;


}
.p 
{ 
text-indent: 50px; 
}

.header{
margin-right:auto;
max-width:100%;
width:80%;
margin-left:auto;


}



.inst{
  background:#ff0000;
  width:300px;
  height:150px;
  margin-left: auto;
  margin-right: 30%;
  margin-top:20%;
 
}
</style><div class="Act"><h1 align="center">OFFERS NEAR YOU</h1></div><div class="loc"><select><option value="JayaNagar">JayaNagar</option><option value="Kormangala">Kormangala</option><option value="HsrLayout">HsrLayout</option><option value="IndiraNagar">IndiraNagar</option></select></div><div class="header"><div class="bar bar-header action-bar-gradient item-input-inset"><p>MEN<br><br></p><p>WOMEN<br><br></p><p>BABY&KIDS<br><br></p><p>MORE<br><br></p><p>OFFERS<br><br></p><p>STORES<br><br></p><p>MALLS<br><br></p></div></div><div class="inst"></div></ion-content></ion-view>