<ion-scroll direction="y" style="height: 300px; background-color: grey"><h4><center>offerbundles</center></h4><style>

.bundlebut{

text-align:center;


}

</style><div class="bundlebut"><select><option value="Wedding">Wedding</option><option value="Party">Party</option></select></div><p>Offers created by the stores</p><ion-slide-box on-slide-changed="slideHasChanged($index)"><ion-slide><div><h2><center>Image1</center></h2></div><p>Images of Offers created by the stores</p></ion-slide></ion-slide-box><div class="header"><div class="bar bar-header action-bar-gradient item-input-inset"><p>FOOD<br><br></p><p>SHOPPING<br><br></p><p>SALOON&SPA<br><br></p><p>ENTERTAINMENT<br><br></p></div></div></ion-scroll><hr style="width: 100%;">