<ion-view>
  <ion-content class="has-footer">


			<div class="userSignUpMainBlock">
				<div class="universalFormMain" style="margin-top:15px;">

  <div class="formStep">
					<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-sitemap customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
						<!-- <input type="text" class="textBoxInput" placeholder="ADD USER" ng-click="modal.show()"> -->
						<button class="textBoxInput" ng-click="adminAddUser()">ADD USER</button>
					  </div>
					</div>
					
				  </div></div></div></div></div></div>





               <div class="formStep">
					<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-sitemap customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
						<!-- <input type="text" class="textBoxInput" placeholder="EDIT USER" ng-click="modal.show()"> -->
						<button class="textBoxInput" ng-click="adminEditUser()">EDIT USER</button>
					  </div>
					</div>
					
				  </div></div></div>


 <div class="formStep">
					<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-sitemap customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
						<!-- <input type="text" class="textBoxInput" placeholder="ADD STORE" ng-click="modal.show()"> -->
						<button class="textBoxInput" ng-click="adminCreateStore()">ADD STORE</button>
					  </div>
					</div>
					
				  </div></div></div>




<div class="formStep">
					<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-sitemap customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
						<!-- <input type="text" class="textBoxInput" placeholder="EDIT STORE" ng-click="modal.show()"> -->
						<button class="textBoxInput" ng-click="adminEditStore()">EDIT STORE</button>
					  </div>
					</div>
					
				  </div></div></div>
  
  
  </ion-content>
</ion-view>





