<ion-modal-view>
    <div class="bar bar-header action-bar-gradient item-input-inset"><img src="images/actionLogo1.png" class="actionBarLogoHdpi" alt="">
		<h1 class="title">Copyright</h1>
		<button class="button" ng-click="doneCopyright()">Back</button>
	</div>
    <ion-content class="has-header">
		<div class="staticPagesMainContainer">
			<div class="termsNconditionsMain">
				
				<p class="staticPageContent">This app and its content is copyright of Summit Paycom Pvt ltd - &copy; Madzz logo 2014. All rights reserved.</p>
				
				<p class="staticPageSubHeading">Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following:</p>
				
				<ul class="staticPageUl">
					<li class="staticPageLi">
						<p class="staticPageLiTxt">You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other app or other form of electronic retrieval system.</p>
					</li>
					<li class="staticPageLi">
						<p class="staticPageLiTxt"><b>All Logos, Service Marks and Registered Trademarks are Property of their respective Owners</b</p>
					</li>
				</ul>
				
			</div>
			<div class="clear"></div>
		</div>
    </ion-content>
</ion-modal-view>
