<ion-view>
  <ion-content class="has-footer">


<form novalidate name="StrnVld" ng-init="Strn=false;dispNameBlur=false;StrnBlur=false;StradBlur=false;PhoneBlur=false;pinBlur=false;">
			<div class="userSignUpMainBlock">
				<div class="universalFormMain" style="margin-top:15px;">
					<div class="formStep">
						<div class="textBoxForm">
							<div class="textBoxIcon">
								<i class="fa fa-building customUserNameIconReg"></i>
							</div>
							<div class="textBoxHolder">
								<input type="text" required class="textBoxInput" ng-blur="estBlur=true" placeholder="Enter name of Store" name="name" ng-model="businessData.name" />
							<b class="tooltip tooltip-bottom-right black">Enter StoreName. For e.g: Big Bazaar</b>
							</div>
						</div>
						<p ng-show="estBlur && mrchVld.name.$error.required" class="help-block">Store Name Is Required.</p>
					
</div>

                                        <div class="formStep">
					<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-road customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
		<input type="text" required class="textBoxInput" ng-blur="streetBlur=true" placeholder="Enter your Street Address" name="street" ng-model="businessData.street" />
						<b class="tooltip tooltip-bottom-right black">For e.g.: 115 4th Main Road, 5th C Cross</b>
					  </div>
					</div>
					<p ng-show="streetBlur && mrchVld.street.$error.required" class="help-block">Street number is required.</p>
				  </div>




                                  <div class="formStep">
					<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-phone customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
		<input type="number" required class="textBoxInput" ng-blur="phoneBlur=true" placeholder="Enter your Phone Number" name="phone" ng-model="businessData.phone" />
						<b class="tooltip tooltip-bottom-right black">Phone number must be in 9123456789 format</b>
					  </div>
					</div>
					<p ng-show="phoneBlur && mrchVld.phone.$error.required" class="help-block">Phone number is required.</p>
				  </div>


                                 <div class="formStep">
					<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-map-marker customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
		<input type="number" ng-blur="pinBlur=true" required class="textBoxInput" name="pincode" placeholder="Enter your Pincode" ng-model="businessData.pincode">
					  </div>
					</div>
					<p ng-show="pinBlur && mrchVld.pincode.$error.required" class="help-block">Pincode is required.</p>
				  </div>

 
                            <div class="formStep">       
                                        <div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-sitemap customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
						<!-- <input type="text" class="textBoxInput" placeholder="Select Location" ng-click="modal.show()"> -->
						<button class="textBoxInput" ng-click="showCity()"><span class="buttontext">{{catButton}}</span></button>
				  </div>
					</div>
					<p ng-show="showCat" class="help-block">Select Atleast 1 Location</p>
				  </div>



			<div class="formStep">
				<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-sitemap customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
						<!-- <input type="text" class="textBoxInput" placeholder="Select Locality" ng-click="modal.show()"> -->
						<button class="textBoxInput" ng-click="showLocality()"><span class="buttontext">{{catButton}}</span></button>
				  </div>
					</div>
					<p ng-show="showCat" class="help-block">Select Atleast 1 Locality</p>
				  </div>



			<div class="formStep">

				<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-sitemap customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
						<!-- <input type="text" class="textBoxInput" placeholder="Select Category" ng-click="modal.show()"> -->
						<button class="textBoxInput" ng-click="showCategory()"><span class="buttontext">{{catButton}}</span></button>
				  </div>
					</div>
					<p ng-show="showCat" class="help-block">Select Atleast 1 Category</p>
				  </div>




			<div class="formStep">
				<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-sitemap customPhoneNumIconReg">
						</i>
					  </div>
					  <div class="textBoxHolder">
						<!-- <input type="text" class="textBoxInput" placeholder="Select Brand" ng-click="modal.show()"> -->
						<button class="textBoxInput" ng-click="showBrand()"><span class="buttontext">{{catButton}}</span></button>
				  </div>
					</div>
					<p ng-show="showCat" class="help-block">Select Atleast 1 Brand</p>
				  </div>

 				<div class="formStep">
					<div class="textBoxForm">
					  <div class="textBoxIcon">
						<i class="fa fa-building customPhoneNumIconReg"></i>
					  </div>
					  <div class="textBoxHolder">
						<button class="textBoxInput" ng-click="mallsModal.show()">{{mallButton}}</button>
					  </div>
					</div>
					<p ng-show="showMall" class="help-block">You have to Select a Mall</p>
				  </div>




 				<div class="formStep">
					<div class="addPhotoOrTakeContainer">
					  <div class="addPhotoOrTakeInner">

						<div class="addPhotoPostDeal">
							<span class="s3uploadButton" s3-upload bucket="'madzz-dev-bucket'" ng-model="files.first" s3-upload-options="{getOptionsUri: 'http://madzztest1-env.elasticbeanstalk.com/rest/awsS3AuthAccess'}"  ></span>
							<img ng-src="{{files.first}}" width="120" height="120">
							<div class="addPhotoPostDealInner">
								<i class="fa fa-photo customAddPhotoIcon"></i>
								<p class="addOrTakePhotoTxt">Add Photo</p>
							</div>
						</div>
					</div>
				  </div>
				  <p class="help-block">Upload Govt. Reg. Form</p>
			      <p ng-show="showImg" class="help-block">Pls Upload Govt. Reg. Form</p>
				  </div>


<div class="formStep">
					<input type="submit" class="buttonForm fright" value="Submit" ng-click="submitData(email, pswdVld.$valid)" />
				 </div>
				</div>
			<div class="clear"></div>
		  </div>
      </form>
    </div>

</div>
  </ion-content>
</ion-view>
