 

 
    <div ng-repeat="deal in deals" ui-sref="deals.details({dealId : deal.dealId})" ng-click="getYourDealId()" in-view="$inview&&getInfo()">
		<ion-item class="item-icon-right redBg noPadding" ng-class="{active: isGroupShown(deal)}" ng-class-even="'lightRedBg'">
			<div class="dealImageNShadow">
				<div class="dealShadowListing">
					<img ng-src="images/dealShadowImg.png" alt="" class="dealShadowImg" />
				</div>
				<div class="dealImageListing">
					<img  ng-src="{{::deal.logoUrl}}" alt=""  class="dealImgListing" />
				</div>
			</div>
			<div class="dealListingDetails">
				<p class="dealTitleTxt">{{::deal.title}}</p>
				<p class="dealLocationTxt">{{::deal.bDisplayName}}</p>
				<p class="dealLocationTxt">{{deal.locality}} <span ng-if="deal.locality && deal.distance">,</span> {{deal.distance | number : 2}} <span ng-if="deal.distance">km</span> </p>
			</div>
			<img ng-src="images/dealListingArrow.png" alt="" class="dealListingArrow" />
		</ion-item>
	</div>

  
