<style>
.dealsIconsMain{margin-top:10px !important;font-size:2em !important;}
.dealForm{width: 74%;}
@media (min-width: 600px) {
.dealForm{width: 94%;}
}
.menuBtn { top:5%; left: -2%;color:#fff !important;}
</style>
<ion-side-menus enable-menu-with-back-views="true">
  <!-- Center content -->
    <ion-side-menu-content>
       

        <div class="bar bar-header action-bar-gradient item-input-inset">
        <button class="button button-icon button-clear icon ion-navicon menuBtn" menu-toggle="left"></button>
	<img src="images/actionLogo1.png" class="actionBarLogoHdpi" alt="" ui-sref="deals.yourDeals"/>
    <form ng-submit="search(searchText)" class="dealForm">
    <label class="item-input-wrapper headerBarLabel">

        <input type="search" placeholder="Search" class="inputBar" ng-model="searchText" onfocus="this.placeholder = ''" onblur="this.placeholder='Search'"> <i class="icon ion-ios7-search placeholder-icon inputSearchIcon" ng-click="search(searchText)"></i>

    </label>
    </form>
    <!--<span ng-show="logInStatus"> 
        <i class="icon ion-person header-bar-icons signInIconActionBar" ui-sref="userProfile" nav-direction="forward" nav-tansition="android"></i>
    </span>
    <span ng-show="!logInStatus">  
        <i class="icon ion-log-in header-bar-icons signInIconActionBar" ui-sref="userReg"></i>
    </span> -->
    <i class="icon ion-gear-a header-bar-icons action-bar-settings-icon" ui-sref="userSettings" nav-direction="forward" nav-tansition="android"></i>
</div>

               <ion-nav-view name="your-deals"></ion-nav-view>

    </ion-side-menu-content>
  
    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-content has-header="true">
             <div class="hamburgerUserProfile" ng-show="logInStatus">
               <a menu-close nav-clear href="#/profile">
               <div class="hamburgerProfileImage">
                    <img src="{{userImgHam}}" alt="" class="hamburgerProfileImg" />
                </div> 
                <p class="hamburgerProfileName">{{userNameHam}}</p>
                </a>
                <!-- <div class="hanburgerProfileButtonsMain">
                    <div class="hanburgerProfileButtonsInner">
                        <p class="hanburgerProfileButtons profileButton" ui-sref="userProfile" nav-direction="forward" nav-tansition="android">View Profile</p>
                        <p class="hanburgerProfileButtons settingsButton" ui-sref="userSettings" nav-direction="forward" nav-tansition="android">Settings</p>
                    </div>
                </div> -->
            </div>
            <div class="hamburgerSignUp" ng-show="!logInStatus">
                <p class="signUpHeadingHamburger">Sign Up To Madzz !</p>
                <div class="signUpIconNtextHamburger">
                    <i class="signUpIconHamburger fa fa-sign-in"></i>
                    <p class="signUpTxtHamburger">Sign up to earn Karma Points !!!</p>
                </div>
                <p class="signUpButtonHamburger" ui-sref="userReg" nav-direction="forward" nav-tansition="android">Sign Up Now!</p>
            </div> 
            <div class="hamburgerMenuLinks">
                <ul class="hamburgerMenuLinksUl">
                    <a menu-close nav-clear href="#/deals/yourDeals">
                        <li class="hamburgerMenuLinksLi selectedHamburgerLink">
                            <i class="hamburgerMenuLinksIcon fa fa-home"></i>
                            <p class="hamburgerMenuLinksTxt">Home</p>
                        </li>
                    </a>
                    <a menu-close href="#/deals/multipleMapMarkers">
                        <li class="hamburgerMenuLinksLi">
                            <i class="hamburgerMenuLinksIcon fa fa-street-view"></i>
                            <p class="hamburgerMenuLinksTxt">Map View</p>
                        </li>
                    </a>
                    <a menu-close href="#/deals/mallsListView">
                        <li class="hamburgerMenuLinksLi">
                            <i class="hamburgerMenuLinksIcon fa fa-building-o"></i>
                            <p class="hamburgerMenuLinksTxt">Malls</p>
                        </li>
                    </a>
                    <a menu-close href="#/deals/favBrands">
                        <li class="hamburgerMenuLinksLi">
                            <i class="hamburgerMenuLinksIcon fa fa-heart"></i>
                            <p class="hamburgerMenuLinksTxt">Favourite Brands</p>
                        </li>
                    </a>
                    <a menu-close href="#/deals/savedDeals">
                        <li class="hamburgerMenuLinksLi">
                            <i class="hamburgerMenuLinksIcon fa fa-tags"></i>
                            <p class="hamburgerMenuLinksTxt">Saved Deals</p>
                        </li>
                    </a>
                    <a menu-close href="#/deals/catFilter">
                    <li class="hamburgerMenuLinksLi">
                        <i class="hamburgerMenuLinksIcon fa fa-sitemap"></i>
                        <p class="hamburgerMenuLinksTxt">Deals by Category</p>
                    </li>
                    </a>
		    <a menu-close href="#/deals/location">
                    <li class="hamburgerMenuLinksLi">
                        <i class="hamburgerMenuLinksIcon mapMargin fa fa-map-marker"></i>
                        <p class="hamburgerMenuLinksTxt">Deals by Locality</p>
                    </li>
	     	    </a>
		    <div class="clear">&nbsp;</div>
                </ul>
            </div>
            
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
