<ion-view>
  <ion-content class="has-footer">
	<button ng-click="userType1()" ng-show = "false">SELECT USER TYPE</button>
	<button ng-click="showCity()" ng-show = "false">select City</button>
	<button ng-click="showLocality()" ng-show = "false" >Select Location</button>
	<button ng-click="showUsers()" >SHOW USERS</button>
	
	<table>
		<tr ng-repeat = "user in userList">
			<td> <p ng-click = editHim()>edit</p>
			</td>
			<td>{{user.merchantId}}
			</td>
			<td>{{user.displayName}}
			</td>
			<td>{{user.loginEmail}}
			</td>
			<td>{{user.roleName}}
			</td>
			<td>
			</td>
		</tr>
		</table>
	
   </ion-content>
</ion-view>