<div style="height: 200px; background-color: grey">
<h4><center>Favouritestores</center></h4>
<p>TODO : Favouritestores</p>
<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div><h2><center>Image1-Use ng-repeat to repeat the Images</h2></center></div>
    <p>Images of favourite Stores, these are the stores that are followed by the user. If user doesnot follow any, Default stores can be displayed. This is a horizantal Scroll<p>
  </ion-slide>
  
  
</ion-slide-box>

</div>
<hr style="width: 100%;"/>


</ion-content>

</ion-view>
