
<ion-slide-box style="height:100%">
  <ion-slide>
    <div class="mainWrapper overflowBlock">
      <div class="splashLogoNContainer">
        <div class="splashLogo">
          <img src="images/logoSplash.jpg" alt="" class="splashLogoImg">
        </div>
        <p class="welcomeSplashTxt">
          Welcome to Madzz
        </p>
        <i class="fa fa-caret-down splashArrowDown">
        </i>
      </div>
      <div class="statisticsContainer">
        <div class="mainStatistics">
          <p class="statisticsMainP">
            More than 
            <span class="statsNumber">
              {{statsDataList.deals}}
            </span>
            <span class="statsTopic">
              &nbsp;Deals
            </span>
          </p>
          <p class="statisticsMainP">
            More than 
            <span class="statsNumber">
              {{statsDataList.stores}}
            </span>
            <span class="statsTopic">
              &nbsp;Stores
            </span>
          </p>
          <p class="statisticsMainP">
            More than 
            <span class="statsNumber">
              {{statsDataList.savings}} Rs
            </span>
            <span class="statsTopic">
              &nbsp;Savings
            </span>
          </p>
        </div>
        <div class="getStartedButtonHolder" ng-click="nextSlide()">
          <button class="button button-block button-assertive 
getStartedButton">
  Show Me The Deals!
          </button>
        </div>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="mainWrapperIntro overflowBlock">
      <div class="introIconNContainer1">
        <i class="introIcons fa fa-search">
        </i>
        <p class="introHeading">
          Search for Deals at Your Favourite Brands
        </p>
        <ul class="intoNavigationBubbleUl">
          <li class="intoNavigationBubbleLi">
            <i class="fa fa-circle circleIntro active">
            </i>
          </li>
          <li class="intoNavigationBubbleLi">
            <i class="fa fa-circle circleIntro">
            </i>
          </li>
          <li class="intoNavigationBubbleLi">
            <i class="fa fa-circle circleIntro">
            </i>
          </li>
        </ul>
        <i class="fa fa-caret-down intro1ArrowDown">
        </i>
      </div>
      <div class="introDescriptionContainer">
        <div class="mainContentDescription">
          <p class="intro1descriptionTxt">
            We know you love to shop when there is a deal. Which is why we give you the ability to search any brand.
          </p>
        </div>
        <div class="introNavigationHolder">
          <div class="nextButtonIntro intro1Button" ng-click="nextSlide()">
            <p class="nextTxtIntro">
              Next
            </p>
            <i class="fa fa-chevron-right nextArrowIntro">
            </i>
          </div>
        </div>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="mainWrapperIntro overflowBlock">
      <div class="introIconNContainer2">
        <i class="introIcons fa fa-rupee">
        </i>
        <p class="introHeading2">
          Get paid to shop
        </p>
        <p class="introNormalTxts">
          Spouses and friends will be pleased that you are making your shopping bill lighter.
        </p>
        <ul class="intoNavigationBubbleUl">
          <li class="intoNavigationBubbleLi">
            <i class="fa fa-circle circleIntro">
            </i>
          </li>
          <li class="intoNavigationBubbleLi">
            <i class="fa fa-circle circleIntro active">
            </i>
          </li>
          <li class="intoNavigationBubbleLi">
            <i class="fa fa-circle circleIntro">
            </i>
          </li>
        </ul>
        <i class="fa fa-caret-down intro2ArrowDown">
        </i>
      </div>
      <div class="introDescriptionContainer">
        <div class="mainContentDescriptionEarn">
          <p class="intro2descriptionHeading">
            Earn Karma points when you
          </p>
          <p class="intro2descriptionTxt">
            * Save, Share Deals
          </p>
          <p class="intro2descriptionTxt">
            * Check in at the Store
          </p>
		  <p class="intro2descriptionTxt">
            <span>* Post your Purchase</span> <br />
			
			<span>Top 100 Users every month get cash vouchers.</span>
          </p>
        </div>
        <div class="introNavigationHolder">
          <div class="nextButtonIntro intro2Button" ng-click="nextSlide()">
            <p class="nextTxtIntro">
              Next
            </p>
            <i class="fa fa-chevron-right nextArrowIntro" ng-click="previousSlide()">
            </i>
          </div>
          <div class="previousButtonIntro intro2Button" ng-click="previousSlide()">
            <p class="previousTxtIntro">
              Back
            </p>
            <i class="fa fa-chevron-left previousArrowIntro">
            </i>
          </div>
        </div>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="mainWrapperIntro overflowBlock">
      <div class="introIconNContainer3">
        <i class="introIcons fa fa-check-square-o">
        </i>
        <p class="introHeading3">
          We verify practically every deal that's on Madzz
        </p>
        <ul class="intoNavigationBubbleUl">
          <li class="intoNavigationBubbleLi">
            <i class="fa fa-circle circleIntro">
            </i>
          </li>
          <li class="intoNavigationBubbleLi">
            <i class="fa fa-circle circleIntro">
            </i>
          </li>
          <li class="intoNavigationBubbleLi">
            <i class="fa fa-circle circleIntro active">
            </i>
          </li>
        </ul>
        <i class="fa fa-caret-down intro3ArrowDown">
        </i>
      </div>
      <div class="introDescriptionContainer">
        <div class="mainContentDescription">
          <p class="intro1descriptionTxt">
            We make every effort to verify the validity of deals so you can spend more time planning your shopping and counting your savings.
          </p>
        </div>
        <div class="introNavigationHolder">
          <div class="nextButtonIntro intro3Button" ng-click="nextSlide()" ng-if="! posIsAvail">
            <p class="nextTxtIntro">
              View&nbsp;Deals
            </p>
            <i class="fa fa-chevron-right nextArrowIntro">
            </i>
          </div>
          <div class="nextButtonIntro intro3Button" ui-sref="categoriesIntro" ng-if="posIsAvail">
            <p class="nextTxtIntro">
              View&nbsp;Deals
            </p>
            <i class="fa fa-chevron-right nextArrowIntro">
            </i>
          </div>
          <div class="previousButtonIntro intro3Button" ng-click="previousSlide()">
            <p class="previousTxtIntro">
              Back
            </p>
            <i class="fa fa-chevron-left previousArrowIntro">
            </i>
          </div>
        </div>
      </div>
    </div>
  </ion-slide>
  <ion-slide ng-if="! posIsAvail">
    <div class="geoLocationMain">
      <i class="fa fa-tags customTagIconGeo">
      </i>
      <p class="geoHeadingTxt">
        Get deals to chase you
      </p>
      <p class="locationServicesTxt" ng-click="networkErrorModal.show()">
        <span class="locationTxtSpan">
          Turn on location service
        </span>
      </p>
      <p class="andHolder">
        <span class="andMainGeo">
          &amp;
        </span>
      </p>
      <p class="locationServicesTxt">
        <span class="locationTxtSpan">
          App Notifications enabled
        </span>
      </p>
      <p class="geoHeadingTxt bottomTxtGeo">
        Find deals that you never knew existed!!
      </p>
      <ion-footer-bar>
        <button ui-sref="categoriesIntro" class="button  button-block button-light noThanksButtonIntro" style="margin-top:0; margin-bottom:0">
          No thanks
        </button>
      </ion-footer-bar>
    </div>
  </ion-slide>
</ion-slide-box>
