<ion-view>
	<ion-content>
		<div class="karmaPointsMain">
			<div class="karmaPointsInner">
				<div class="karmaPointsEarnedNvalue">
					<div class="karmaPointsMedal" ng-show="inLeadershipBoard" ui-sref="leadershipBoard">
						<i class="fa fa-trophy customTrophyIcon"></i>
					</div>
					<div class="karmaPointsEarned">
						<p class="karmaPointsEarnedTxt">{{karmaPoints.karmaPoints}}<span class="earnedTxt">Points</span></p>
					</div>
				</div>
				<p class="karmaPointsInfo" ng-show="inLeadershipBoard" ui-sref="leadershipBoard"><span class="clickLeadership">Click here</span> to find yourself on leader board</p>
			</div>
			<div class="howToEarnMain">
				<p class="howDoIearnHeading">How do I earn more Karma Points?</p>
				<p class="howDoIearnSubheading">You get paid to plan your shopping and actually shopping. How refreshing right? That's it…absolutely no strings attached. </p>
				<div class="howToEarnStepsMain">
					<div class="howToEarnStepLeft">
						<div class="stepIconContainerKarma">
							<i class="fa fa-download customSaveDealIconKarma"></i>
						</div>
						<div class="stepDetailsContainer">
							<p class="stepDetailHeadingKarma">Save a deal</p>
							<p class="stepDetailTxtKarma">Save a deal to your profile. This helps you plan your shopping, count your savings and also save on precious memory power.</p>
						</div>
					</div>
					
					<div class="howToEarnStepRight">
						<div class="stepIconContainerKarma fright">
							<i class="fa fa-share-alt customSaveDealIconKarma"></i>
						</div>
						<div class="stepDetailsContainer">
							<p class="stepDetailHeadingKarma">Share a deal</p>
							<p class="stepDetailTxtKarma">Spread some cheer wont you. Share a deal with your friend, family or anyone else that you think might like the deal. Now, that's good Karma</p>
						</div>
					</div>
					
					<div class="howToEarnStepLeft">
						<div class="stepIconContainerKarma">
							<i class="fa fa-map-marker customSaveDealIconKarma"></i>
						</div>
						<div class="stepDetailsContainer">
							<p class="stepDetailHeadingKarma">Check-in at a store</p>
							<p class="stepDetailTxtKarma">Went to check out the deal or purchase the item, check-in and tell us</p>
						</div>
					</div>
					
					<div class="howToEarnStepRight">
						<div class="stepIconContainerKarma fright">
							<i class="fa fa-thumbs-up customSaveDealIconKarma"></i>
						</div>
						<div class="stepDetailsContainer">
							<p class="stepDetailHeadingKarma">Share your purchase with your network</p>
							<p class="stepDetailTxtKarma">Loved that awesome gown you bought and cant wait to tell your friends what a steal it was, post your purchase to your network and let the world know. More good karma to you.</p>
						</div>
					</div>
				</div>
			</div>
		</div>


	</ion-content>
</ion-view>
