<ion-view>
	<ion-content class="has-footer">
		<div class="postAdealHeading">
	      <p class="postAdealTxt">Mall Deals</p>
	    </div>
		<!-- <div class="categoryIntroMain">
			<i class="fa fa-cogs spotAdealIconCustom"></i>
			<p class="categoryIntroHeading">Coming Soon!!</p>
			<p class="categoryIntroTxt">We are working on spot a deal.. we will be back to you with an awesome tool soon as possible..</p>
		</div> -->
		<div ng-repeat="deal in dealsList" ui-sref="deals.mallDetails({id : deal.mallId})">
			<ion-item class="redBg noPadding" ng-class="{active: isGroupShown(deal)}" ng-class-even="'lightRedBg'">
				<div class="dealImageNShadow">
					<div class="dealShadowListing">
						<img ng-src="images/dealShadowImg.png" alt="" class="dealShadowImg">
					</div>
					<div class="dealImageListing">
						<img ng-src="{{deal.logoUrl}}" alt="" class="dealImgListing">
					</div>
				</div>
				<div class="dealListingDetails">
					<p class="dealTitleTxt">{{deal.mallName}}</p>
					<p class="dealLocationTxt">{{deal.locality}}</p>
					<p class="dealStoreTxt">{{deal.distance | number:2}} <span ng-if="deal.distance">km</span></p>
				</div>
				<img ng-src="images/dealListingArrow.png" alt="" class="dealListingArrow" />
			</ion-item>
		</div>
	</ion-content>
	<!-- <ion-footer-bar>
		<button class="button button-block button-light">Spot A Deal</button>
	</ion-footer-bar> -->
</ion-view>
