<style>
.buttontext {overflow: hidden;white-space: nowrap;display: block;text-overflow: ellipsis;}
</style>

<ion-view>
	<!--<div class="bar bar-header action-bar-gradient item-input-inset">
		<img src="images/actionLogo1.jpg" ui-sref="merch.merchProfile" class="actionBarLogoHdpi" alt="">
    </div>-->
  
    <ion-content class="has-footer" style="background:#c60309;">
		<div class="merchRegistrationMain">
			<div class="postAdealHeading">
			<p class="postAdealTxt">Settings</p>
		</div>
        <form novalidate name="mrchVld" ng-init="estBlur=false;dispNameBlur=false;phoneBlur=false;streetBlur=false;pinBlur=false;">
		<div class="userSignUpMainBlock">
			<div class="universalFormMain" style="margin-top:15px;">
			    <div class="formStep">
					<div class="textBoxForm">
					    <div class="textBoxIcon">
							<i class="fa fa-building customUserNameIconReg"></i>
					  </div>
					  <div class="textBoxHolder">
						<input type="text" required class="textBoxInput" ng-blur="estBlur=true" placeholder="Enter name of Establishment" name="name"
						 ng-model="businessData.name">
						<p ng-show="estBlur && mrchVld.name.$error.required" class="help-block">Establishment Name Is Required.</p>
					  </div>
					</div>
			    </div>
			  <div class="formStep">
				<div class="textBoxForm">
				  <div class="textBoxIcon">
					<i class="fa fa-eye customPhoneNumIconReg">
					</i>
				  </div>
				  <div class="textBoxHolder">
					<input type="text" ng-blur="dispNameBlur=true" required class="textBoxInput" placeholder="Enter Business Display name" 
					name="displayName" ng-model="businessData.displayName">
					<p ng-show="dispNameBlur && mrchVld.displayName.$error.required" class="help-block">Display Name Is Required.</p>
				  </div>
				</div>
			  </div>
			  <div class="formStep">
				<div class="textBoxForm">
				  <div class="textBoxIcon">
					<i class="fa fa-envelope customPhoneNumIconReg">
					</i>
				  </div>
				  <div class="textBoxHolder">
					<input type="email" class="textBoxInput" placeholder="Enter Business Email" ng-model="businessData.email">
				  </div>
				</div>
			  </div>
			  <div class="formStep">
				<div class="textBoxForm">
				  <div class="textBoxIcon">
					<i class="fa fa-phone customPhoneNumIconReg">
					</i>
				  </div>
				  <div class="textBoxHolder">
					<input type="text" required class="textBoxInput" ng-blur="phoneBlur=true" placeholder="Enter your Phone Number" name="phone" ng-model="businessData.phone">
					<p ng-show="phoneBlur && mrchVld.phone.$error.required" class="help-block">Phone number is required.</p>
				  </div>
				</div>
			  </div>
			  <div class="formStep">
				<div class="textAreaForm">
				  <div class="textAreaIcon">
					 <i class="fa fa-thumb-tack customPhoneNumIconReg"></i>
				  </div>
				  <div class="textAreaHolder">
					 <input type="text" placeholder="Enter your Location" class="textBoxInput" required  name="address" ng-model="businessData.address"/>
					 <p ng-show="mrchVld.location.$error.required" class="help-block">Locality is required.</p>
				  </div>
				</div>
			  </div>
			  <div class="formStep">
				<div class="textBoxForm">
				  <div class="textBoxIcon">
					<i class="fa fa-map-marker customPhoneNumIconReg"></i>
				  </div>
				  <div class="textBoxHolder">
					<input type="text" ng-blur="pinBlur=true" required class="textBoxInput" name="pincode" placeholder="Enter your Pincode" ng-model="businessData.pincode">
					<p ng-show="pinBlur && mrchVld.pincode.$error.required" class="help-block">Pincode is required.</p>
				  </div>
				</div>
			  </div>
			  <div class="formStep">
				<input type="checkbox" id="check" name="check"  class="checkBoxUniversal" ng-model="Wantsgecoding" ng-change="getCord(Wantsgecoding)">
				<label for="check" class="amAtStore">I am NOW at the above Business address</label>
			  </div>
			  <div class="formStep">
				<div class="textBoxForm">
				  <div class="textBoxIcon">
					<i class="fa fa-sitemap customPhoneNumIconReg"> </i>
				  </div>
				  <div class="textBoxHolder">
					<!-- <input type="text" class="textBoxInput" placeholder="Select your categories" ng-click="modal.show()"> -->
					<button class="textBoxInput" ng-click="catModal.show()"><span class="buttontext">{{businessData.catButton}}</span></button>
				  </div>
				</div>
			  </div>
			  <div class="formStep">
				<div class="textBoxForm">
				  <div class="textBoxIcon">
					<i class="fa fa-star customPhoneNumIconReg"></i>
				  </div>
				  <div class="textBoxHolder">
					<button class="textBoxInput" ng-click="businessSettingsBrandsModal.show()"><span class="buttontext">{{businessData.brandButton}}</span></button>
				  </div>
				</div>
			  </div>
			  <div class="formStep">
				<div class="textBoxForm">
				  <div class="textBoxIcon">
					<i class="fa fa-building customPhoneNumIconReg"></i>
				  </div>
				  <div class="textBoxHolder">
					<button class="textBoxInput" ng-click="mallsModal.show()">{{businessData.mallButton}}</button>
				  </div>
				</div>
			  </div>
			 <div class="formStep">
				<input type="submit" class="buttonForm fright" value="Submit" ng-click="submitData(businessData, mrchVld.$valid)" />
			  </div>

			</div>
      </div>
      </form>
      <div class="clear"></div>
    </div>

</ion-view>
