<ion-scroll direction="y" style="height: 300px; background-color: grey">
<h4><center>Offers Near Your Stores</center></h4>
<style>
.Sno{
margin-left:5%;
width:30%;

}

.dist{
width:30%;
margin-left:10%;
}


.button{
margin-left:80%;
z


}




</style>

<div>
<select>
  <option value="JayaNagar">JayaNagar</option>
  <option value="Kormangala">Kormangala</option>
  <option value="HsrLayout">HsrLayout</option>
  <option value="IndiraNagar">IndiraNagar</option>
</select>
</div>
<div class="header">
<div class="bar bar-header action-bar-gradient item-input-inset"> 
<p> MEN <br><br><!--Hover Tabs--></p>
 <p> WOMEN <br><br></p> <!--Hover Tabs-->
<p> BABY&KIDS <br><br></p><!--Hover Tabs-->
<p> MORE <br><br></p><!--Hover Tabs-->
<p> OFFERS<br><br></p><!--If we click on offers that displays the offers near you-->
<p> STORES<br><br> </p><!--If we click on stores that displays the stores near you-->
<p>MALLS<br><br></p><!--If we click on Malls that displays the malls near you-->
</div> 
</div>

<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div><h2><center>Image1</h2></center></div>
    <p>Image of Map based on lat-long of the user </p>

<div class="Sno">
<p>S.No</p>
</div>

<div class="dist">
<p> Store Name with the distance eg:Reebok-4kms</p>
</div>


<div class="button">
<p> Away</p>
</div>


  </ion-slide>
 
  
</ion-slide-box>







</ion-scroll>
<hr style="width: 100%;"/>


