<ion-modal-view>
    <div class="bar bar-header action-bar-gradient item-input-inset"><img src="images/actionLogo1.png" class="actionBarLogoHdpi" alt="">
		<h1 class="title">Privacy Policy</h1>
		<button class="button" ng-click="donePrivacy()">Back</button>
	</div>
    <ion-content class="has-header">
		<div class="staticPagesMainContainer">
			<div class="termsNconditionsMain">
				
				<p class="staticPageContent">This privacy policy sets out how Madzz uses and protects any information that you give Madzz when you use this app.</p>
				<p class="staticPageContent">Madzz is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this app, then you can be assured that it will only be used in accordance with this privacy statement.</p>
				<p class="staticPageContent">Madzz may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 1st November 2014.</p>
				
				<p class="staticPageSubHeading">What we collect</p>
				
				<p class="staticPageContent">We may collect the following informations:</p>
				
				<ul class="staticPageUl">
					<li class="staticPageLi">
						<p class="staticPageLiTxt">Name and job title</p>
					</li>
					<li class="staticPageLi">
						<p class="staticPageLiTxt">Contact information including email address</p>
					</li>
					<li class="staticPageLi">
						<p class="staticPageLiTxt">Demographic information such as postcode, Geo Location, preferences and interests</p>
					</li>
					<li class="staticPageLi">
						<p class="staticPageLiTxt">Other information relevant to customer surveys and/or offers</p>
					</li>
				</ul>
				
				<p class="staticPageSubHeading">What we do with the information we gather</p>
				
				<p class="staticPageContent">We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
				
				<ul class="staticPageUl">
					<li class="staticPageLi">
						<p class="staticPageLiTxt">Internal record keeping.</p>
					</li>
					<li class="staticPageLi">
						<p class="staticPageLiTxt">We may use the information to improve our products and services.</p>
					</li>
					<li class="staticPageLi">
						<p class="staticPageLiTxt">We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided. </p>
					</li>
					<li class="staticPageLi">
						<p class="staticPageLiTxt">From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the app according to your interests.</p>
					</li>
				</ul>
				
				<p class="staticPageSubHeading">Security</p>
				
				<p class="staticPageContent">We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>
				
				<p class="staticPageSubHeading">How we use cookies</p>
				
				<p class="staticPageContent">A cookie is a small file which asks permission to be placed on your device’s hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>
				<p class="staticPageContent">We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our app in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system.</p>
				<p class="staticPageContent">Overall, cookies help us provide you with a better app, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>
				<p class="staticPageContent">You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the app.</p>
				
				<p class="staticPageSubHeading">Links to other apps</p>
				
				<p class="staticPageContent">Our app may contain links to other apps of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other app. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the app in question.</p>
				
				<p class="staticPageSubHeading">Controlling your personal information</p>
				<p class="staticPageContent">You may choose to restrict the collection or use of your personal information in the following ways:</p>
				<ul class="staticPageUl">
					<li class="staticPageLi">
						<p class="staticPageLiTxt">Whenever you are asked to fill in a form on the app, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes</p>
					</li>
					<li class="staticPageLi">
						<p class="staticPageLiTxt">If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at [email address]</p>
					</li>
				</ul>
				
				<p class="staticPageContent">We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.</p>
				
				<p class="staticPageContent">You may request details of personal information which we hold about you under the Data Protection Act. A small fee will be payable. If you would like a copy of the information held on you please write to Summit Paycom Pvt ltd73/1, Third Floor R K Chambers, Chamarajpet, Bangalore 560018.</p>
				
				<p class="staticPageContent noMargin">If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</p>
				
			</div>
			<div class="clear"></div>
		</div>
    </ion-content>
</ion-modal-view>
