<ion-view>
<ion-content class="has-header">
    <!-- <ion-slide-box style="height:164px;" >
      <ion-slide><img ng-src="images/1.png" class="slider-images">
      </ion-slide>
      <ion-slide><img ng-src="images/2.png" class="slider-images">
      </ion-slide>
      <ion-slide><img ng-src="images/3.png" class="slider-images">
      </ion-slide>
    </ion-slide-box>
    <ion-list class="deals-list">
      <div ng-repeat="deal in deals">
        <ion-item class="item item-avatar item-icon-right redBg noPadding" ng-click="toggleGroup(deal)" ng-class="{active: isGroupShown(deal)}" ng-class-even="'lightRedBg'">
          <div class="dealImageNShadow">
            <div class="dealShadowListing"><img ng-src="images/dealShadowImg.png" alt="" class="dealShadowImg">
            </div>
            <div class="dealImageListing"><img ng-src="images/dealImg.jpg" alt="" class="dealImgListing">
            </div>
          </div>
          <h2>{{deal.dTitle}}</h2>
          <p>{{deal.sName}}&nbsp;&nbsp;&nbsp;&nbsp;{{deal.sAddress}}</p><i class="icon deals-list-icon rightIconDealList" ng-class="isGroupShown(deal) ? 'fa fa-chevron-left' : 'fa fa-chevron-right'"></i>
          <ion-item class="item-accordion redBg" ng-show="isGroupShown(deal)" ng-class-even="'lightRedBg'">
            <button class="button button-outline button-small" ui-sref="details">View Deal</button>
          </ion-item>
        </ion-item>

         

      </div>
    </ion-list>
    <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll> -->
  <h1>skjdflkasjdflksjlfkjs</h1>
  <h1>skjdflkasjdflksjlfkjs</h1>
  <h1>skjdflkasjdflksjlfkjs</h1>
  </ion-content>
</ion-view>