<ion-modal-view>
    <div class="bar bar-header action-bar-gradient item-input-inset"><img src="images/actionLogo1.png" class="actionBarLogoHdpi" alt="">
  
  <h1 class="title">Categories</h1>
  <button class="button" ng-click="doneSelectedCat()">Done</button>
</div>
    <ion-content class="has-header">
    	

<ion-radio ng-repeat="category in selectedCateogries"
                      ng-model="category.checked" 
                      ng-value="category.cname">
          {{ category.cname}}
        </ion-radio>

  
    </ion-content>
  </ion-modal-view>
