<ion-view>
	<ion-content class="spotAdealBg">
		<div class="categoryIntroMain">
			<i class="fa fa-cogs spotAdealIconCustom"></i>
			<p class="categoryIntroHeading">Coming Soon!!</p>
			<p class="categoryIntroTxt">While we have done everything to bring you the most complete list of deals, we know that there will be some left out. You will soon be able to spot deals and tell us about that, so they can be shared with other users.</p>
		</div>
		<p class="spotAdealButton1" ui-sref="deals.yourDeals">Back to deals</p>
	</ion-content>
</ion-view>
