<ion-modal-view>
	<div class="bar bar-header action-bar-gradient item-input-inset">
		<img src="images/actionLogo1.png" class="actionBarLogoHdpi1" alt="">
		<h1 class="title mapViewHeading">Stores</h1>
		<p class="backButtonMapView" ng-click="doneStores()">Done</p>
	</div>
    <ion-content class="has-header" style="background:#6E0000;">

    	<ul class="favStoresListUl1" style="margin-top: 15px;">
			<li class="favStoresListNew" ng-repeat="store in stores | filter: displayName">
				<div class="storeIconNdiv">
					<div class="favoriteStoreDivNew">
						<input type="checkbox" class="hiddenCatCheckBox" ng-model="store.checked" />
						<i class="fa fa-heart customFavStoreNew1"></i>
						<div class="favStoreOverlay">&nbsp;</div>
					</div>
					<img src="{{store.logoUrl}}" class="storeListImage" alt="" />
				</div>
			</li>
			<div class="clear"></div>
        </ul>
    </ion-content>
</ion-modal-view>
