<ion-view>
	<ion-content>
	<div class="userProfileMain">
		<div class="userProfileInfo">
			<div class="userCoverPicInfo">
				<img src="https://s3-us-west-2.amazonaws.com/madzz-dev-bucket/defaultCover.jpg" alt="" class="userCoverPicImg" />
				<div class="userCoverOverlay">&nbsp;</div>
			</div>
			<div class="userProfilePicNinfo">
				<div class="userProfilePic" ng-show="hasPic">
					<img ng-src="{{userDemoGraphics.profileImageUrl}}" alt="" class="userProfilePicImg" />
				</div>
				<div class="userProfilePic" ng-show="defaultPic">
					<img ng-src="https://s3-us-west-2.amazonaws.com/madzz-dev-bucket/defaultPic.jpg" alt="" class="userProfilePicImg" />
				</div>
				<div class="userProfileInfoMain">
					<p class="userNameTxt">{{userDemoGraphics.name}}</p>
					<p class="userNumber" ng-if="userDemoGraphics.phone">Phone Number: <span class="userNumberJSN">{{userDemoGraphics.phone}}</span></p>
				</div>
			</div>
		</div>
		
		<div class="welcomeUserOption">
			<p class="userWelcomeTxt">Welcome {{userDemoGraphics.name}}</p>
			<div class="userOptionsMain">
				<div class="userOptionsRow">
					<div class="userOptionMainInner fleft" ui-sref="deals.savedDeals">
						<div class="userOptionBgNumber">
							<img src="images/roundBgUser.png" alt="" class="userOptionBg" />
							<p class="userOptionNumber">{{userAnalytics.savedDeals}}</p>
						</div>
						<p class="userOptionNameTxt">Saved Deals</p>
					</div>
					
					<div class="userOptionMainInner fright" ui-sref="deals.favBrands">
						<div class="userOptionBgNumber">
							<img src="images/roundBgUser.png" alt="" class="userOptionBg" />
							<p class="userOptionNumber">{{userAnalytics.favBusinesses}}</p>
						</div>
						<p class="userOptionNameTxt">Favourite Brands</p>
					</div>
				</div>
				<div class="userOptionsRow">
					<div class="userOptionMainInner fleft" ui-sref="karmaPoints">
						<div class="userOptionBgNumber">
							<img src="images/roundBgUser.png" alt="" class="userOptionBg" />
							<p class="userOptionNumber">{{userAnalytics.karmaPoints}}</p>
						</div>
						<p class="userOptionNameTxt">Karma Points</p>
					</div>
					<div class="userOptionMainInner fright" ui-sref="spotAdeal">
						<div class="userOptionBgNumber">
							<img src="images/postDeal.png" alt="" class="userOptionBg" />
						</div>
						<p class="userOptionNameTxt">Post a deal</p>
					</div>
				</div>
			</div>
		</div>
		<div class="userNoteContainer">
			<p class="noteHeading">Just a word of caution:</p>
			<p class="noteInfoTxt">Abusing or gaming the system means we can suspend your karma points. We reward only genuine activity.</p>
		</div>
	</div>
	</ion-content>
</ion-view>
